body {
  padding-bottom: 100px;
}
h1 {
  letter-spacing: .15em;
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  color: #000000;
}

a:visited {
  color: #000000;
}

#grad1 {
    height: 1px;
    min-width: 200px;
    margin-bottom: 10px;
    width: 102%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

.App {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.App-header {
  background-color: #fafafa;
  min-height: 40vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: #09d3ac; */
  color: #aaa;
}

.App-link {
  color: #09d3ac;
}

.search-bar {
  letter-spacing: .15em;
  width: 100%;
  min-width: 200px;
  border-radius: 10px;
  height: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 28px;
  font-family: monospace;
  padding: 5px 10px 5px 10px;
  /* text-align: center; */
  color: ##222222;
}

.ResultWrapper {
  width: 100%;
  height: 100%;
  min-width: 200px;
}

.Result {
  width: 98%;
  display: inline-block;
  margin: 5px 0px 5px 0px;
  border-radius: 10px;
  background-color: #ececec;
  text-align: left;
  padding: 20px;
}

.Result > h3 {
  color: #888888;
}

.Color {
  float: right;
}

.colorList {
  display: inline-block;
  float: right;
}

.Result > .domain {
  font-size: 20px;
  color: #6a6a6a;
  font-weight: bolder;
}
